.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;

  & .logo {
    width: 10rem;
    border: 1px solid blue;
  }

  & .date {
    border: 1px solid blue;
    margin-left: auto;
  }

  & .hamburger {
    border: 1px solid blue;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .bar {
      height: 4px;
      width: 40px;
      background: #000;
    }

    & .bar2 {
      margin: 5px 0;
    }
  }
}
