.nav {
  grid-column: 1 / -1;
  background-color: $color-white;
  display: flex;
  align-items: center;
  padding: $space-sml $space-lrg;
  z-index: 2;
  position: sticky;
  top: 0;
  left: 0;

  & .logo {
    width: 5rem;
    border: 3px solid #000;
    padding: 0 10px;

    & img {
      max-width: 100%;
    }
  }

  & svg {
    margin: 0 auto;
    width: 30%;
    height: 115%;
    top: -17%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
}


