$bp-xxl: 77.19em; /* 1235px */
$bp-xl: 64em; /* 1024px */
$bp-lrg: 48em; /* 768px */
$bp-med: 26.56em; /* 425px */

@media only screen and (max-width: $bp-xxl) {
  body.about {
    & .profile {
      justify-content: center;

      &__pic {
        width: 70%;
        padding-right: 0;
        padding-bottom: $space-sml;
        justify-content: center;
      }

      &__bio {
        height: min-content;
        width: 100%;
        padding: $space-sml 0;

        &--heading {
          align-self: center;
        }
      }
    }
  }
}

@media only screen and (max-width: $bp-xl) {
  .footer {
    flex-direction: column;
    padding: $space-xs $space-xs $space-sml $space-xs;

    & .copyright__copy {
      line-height: 1.35;
      text-align: center;
    }

    & .email {
      margin: $space-sml 0;
    }

    & .social {
      width: 60%;

      & .fab,
      .far {
        font-size: $fs-med;
      }
    }
  }
}

@media only screen and (max-width: $bp-lrg) {
  html {
    font-size: 112%;
  }

  .menu-overlay__list {
    & a:link,
    a:visited {
      font-size: $fs-med;
    }
  }

  body.home {
    & .home-hero {
      padding: $space-lrg 0 $space-lrg 0;

      & > * {
        font-size: $fs-med;
        line-height: 35px;
      }
    }

    & .projects-heading {
      font-size: $fs-med;
    }

    & .projects {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 50vw);

      & .project-container-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      & .project-container-2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      & .project-container-3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
      & .project-container-4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }
    }

    & .project-container__overlay {
      &--title {
        font-size: $fs-sml;
      }
    }

    .stack-item {
      font-size: $fs-xs;
    }
  }

  body.about {
    .about-header {
      &__heading {
        font-size: $fs-med;
      }
    }

    .skills__item {
      width: 5rem;
    }
  }
}

@media only screen and (max-width: $bp-med) {
  body.home {
    & .project-container__overlay {
      &--title {
        margin-bottom: 0;
      }
    }

    .stack-item {
      margin: 4px 0;
    }
  }

  body.home,
  body.about {
    grid-template-rows: 20vh repeat(3, min-content) 40vh;

    & .nav {
      padding: $space-sml;

      & .logo {
        width: 4rem;
      }

      & svg {
        left: 52%;
      }
    }

    & .navicon {
      right: $space-med;
      top: $space-med;
    }

    & .skills__item {
      width: 30%;
    }
  }
}
