.about-header {
  grid-column: 1 / -1;
  
  padding: $space-lrg;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: $color-grey;
}

.profile {
  grid-column: 2 / -2;
  margin: $space-xl 0 $space-med 0;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__pic {
    width: 80%;

    &--img {
      max-width: 100%;
      display: block;
    }
  }

  &__bio {
    align-self: flex-start;
    padding: $space-lrg 0 $space-med 0;

    &--heading {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
    }

    &--greeting {
      font-style: italic;
      font-weight: 300;
      margin: $space-sml 0;
      line-height: 1.25;
    }

    &--copy {
      line-height: 1.45;
    }
  }
}