.about-header {
  grid-column: 1 / -1;
  
  padding: $space-lrg;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: $color-grey;
}

.profile {
  grid-column: 2 / -2;
  height: 1000px;
  border: 1px solid red;
  background: grey;
  margin: $space-xl 0 $space-med 0;
}