// HEADER
.about-header {
  grid-column: 1 / -1;

  padding: $space-lrg;
  display: flex;
  justify-content: center;
  background: $color-grey;

  &__heading {
    font-size: $fs-big;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

// PROFILE
.profile {
  grid-column: 2 / -2;
  margin: $space-xl 0 $space-med 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__pic {
    width: 22rem;
    display: flex;
    align-items: center;
    padding-right: $space-xs;

    &--img {
      max-width: 100%;
      display: block;
    }
  }

  &__bio {
    align-self: flex-start;
    width: 22rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $space-xs;

    &--heading {
      text-transform: uppercase;
      font-size: $fs-med;
      font-weight: 600;
      letter-spacing: 2px;
    }

    &--greeting {
      font-style: italic;
      font-weight: 300;
      margin: $space-sml 0;
      line-height: 1.25;
    }

    &--copy {
      line-height: 1.45;
    }
  }
}

// SKILLS

.skills {
  grid-column: 2 / -2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $space-med 0;


  &__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $space-xs;
    transition: all .2s;

    &:hover {
      color: $color-blue;
    }

    &--img {
      width: 2rem;
    }

    &--skill {
      text-align: center;
    }
  }
}
