
// COLORS
$color-black: #111111;
$color-white: #f4f4f4;

// SPACING
$space-huge: 8rem;
$space-xl: 4.8rem;
$space-lrg: 3.2rem;
$space-med: 2rem;
$space-sml: 1.2rem;
$space-xs: 0.6rem;


// TYPOGRAPHY
$font-primary: 'Montserrat', sans-serif;

$fs-huge: 2.488rem;
$fs-xl: 2.074rem;
$fs-lrg: 1.728rem;
$fs-med: 1.44rem;
$fs-sml: 1.2rem;
$fs-xl: 1rem;
